@model AssignmentManager.Web.ViewModels.Class.ClassDetailsViewModel

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Name);
}
<link rel="stylesheet" href="/css/classes/details.css" />

<script>
    const scheduleTab = document.getElementsByClassName("nav_list__li--schedule")[0];
    const classesTab = document.getElementsByClassName("nav_list__li--classes")[0];

    classesTab.classList.add("nav_list__li--active");
</script>

<h1 class="main_title">@Html.DisplayFor(model => model.Name)</h1>

<div class="assignments_container assignments_container--overdue">
    @{
        var now = DateTime.UtcNow;
        var dueDate = "";

        if (Model.Assignments.Where(x => x.DueDate.Date < now.Date).Count() > 0)
        {
            <div class="status_arrow status_arrow--overdue">
                <img src="/content/upcomingArrowBG.svg" />
                <span>OVERDUE</span>
            </div>
        }

        foreach (var item in Model.Assignments)
        {
            if (item.DueDate.Date < now.Date)
            {
                if (item.DueDate.Date.AddDays(1) == now.Date)
                    dueDate = "Yesterday";
                else if (item.DueDate.Date.AddDays(2) == now.Date)
                    dueDate = "Due 2 Days Ago";
                else if (item.DueDate.Date.AddDays(3) == now.Date)
                    dueDate = "Due 3 Days Ago";
                else if (item.DueDate.Date.AddDays(4) == now.Date)
                    dueDate = "Due 4 Days Ago";
                else if (item.DueDate.Date.AddDays(5) == now.Date)
                    dueDate = "Due 5 Days Ago";
                else if (item.DueDate.Date.AddDays(6) == now.Date)
                    dueDate = "Due 6 Days Ago";
                else if (item.DueDate.Date.AddDays(7) == now.Date)
                    dueDate = "Due a week ago";
                else
                    dueDate = $"Due {item.DueDate.ToString("dd/MM/yyyy")}";

                <a asp-controller="Assignments" asp-action="Details" asp-route-id="@item.Id">
                    <div class="assignment">
                        <div style="background: @Model.Color;" class="assignment__color_tag"></div>
                        <span class="assignment__name">@Html.DisplayFor(modelItem => item.Name)</span>
                        <span class="assignment__due_date">@dueDate</span>
                        <img class="assignment__arrow" src="/content/classArrow.svg" />
                    </div>
                </a>
            }
        }
    }
</div>

<div class="assignments_container assignments_container--upcoming">
    @{
        if (Model.Assignments.Where(x => x.DueDate.Date >= now.Date).Count() > 0)
        {
            <div class="status_arrow status_arrow--upcoming">
                <img src="/content/upcomingArrowBG.svg" />
                <span>UPCOMING</span>
            </div>
        }

        foreach (var item in Model.Assignments)
        {
            if (item.DueDate.Date >= now.Date)
            {
                if (now.Date == item.DueDate.Date)
                    dueDate = "Due Today";
                else if (item.DueDate.Date == now.Date.AddDays(1))
                    dueDate = "Due Tomorrow";
                else if (item.DueDate.Date == now.Date.AddDays(2))
                    dueDate = "Due in 2 Days";
                else if (item.DueDate.Date == now.Date.AddDays(3))
                    dueDate = "Due in 3 Days";
                else if (item.DueDate.Date == now.Date.AddDays(4))
                    dueDate = "Due in 4 Days";
                else if (item.DueDate.Date == now.Date.AddDays(5))
                    dueDate = "Due in 5 Days";
                else if (item.DueDate.Date == now.Date.AddDays(6))
                    dueDate = "Due in 6 Days";
                else if (item.DueDate.Date == now.Date.AddDays(7))
                    dueDate = "Due in a week";
                else
                    dueDate = $"Due {item.DueDate.ToString("dd/MM/yyyy")}";

                <a asp-controller="Assignments" asp-action="Details" asp-route-id="@item.Id">
                    <div class="assignment">
                        <div style="background: @Model.Color;" class="assignment__color_tag"></div>
                        <span class="assignment__name">@Html.DisplayFor(modelItem => item.Name)</span>
                        <span class="assignment__due_date">@dueDate</span>
                        <img class="assignment__arrow" src="/content/classArrow.svg" />
                    </div>
                </a>
            }
        }

        if (Model.Assignments.Count() == 0)
        {
            <div class="no_assignments">
                <img class="blue_cat" src="/content/blueCatShadow.svg">
                <div>
                    <h2>NO ASSIGNMENTS</h2>
                    <span>Add an assignment with the " <img src="/content/plus.svg" /> " icon.</span>
                </div>
            </div>
        }

    }
</div>


<a asp-controller="Classes" asp-action="Edit" asp-route-id="@Model.Id">
    <div class="edit_class">
        <img src="/content/edit.svg" />
    </div>
</a>

<a asp-controller="Assignments" asp-action="Create">
    <div class="add_assignment">
        <div class="add_assignment__line"></div>
        <div class="add_assignment__line"></div>
    </div>
</a>