@model IEnumerable<AssignmentManager.Services.Models.Class.DetailsClassServiceModel>

@{
    ViewData["Title"] = "Classes";
}
<link rel="stylesheet" href="/css/classes/index.css" />

<script>
    const scheduleTab = document.getElementsByClassName("nav_list__li--schedule")[0];
    const classesTab = document.getElementsByClassName("nav_list__li--classes")[0];

    classesTab.classList.add("nav_list__li--active");
</script>

@*
    @Html.DisplayNameFor(model => model.Name)

    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
*@

<h1 class="main_title">CLASSES</h1>

<div class="classes_container">
    @foreach (var item in Model)
    {
        @*Backend Data Needed (Init Loop, Color, TargetURL)*@
        <a asp-action="Details" asp-route-id="@item.Id">
            <div class="class">
                <div style="background: #F0AB67;" class="class__color_tag"></div> @*Color todo*@
                <span class="class__name">@Html.DisplayFor(modelItem => item.Name)</span> @*span*@
                <span class="class__assignment_count">2 assignments</span>
                <img class="class__arrow" src="/content/classArrow.svg" />
            </div>
        </a>
    }
</div>

<a asp-action="Create">
    <div class="add_class">
        <div class="add_class__line"></div>
        <div class="add_class__line"></div>
    </div>
</a>