@using AssignmentManager.Data
@using System.Globalization
@model AssignmentManager.Web.ViewModels.Assignment.AssignmentDetailsViewModel

@{
    ViewData["Title"] = "Assignment Details";
}
<link rel="stylesheet" href="/css/assignments/details.css" />

<script>
    const scheduleTab = document.getElementsByClassName("nav_list__li--schedule")[0];
    const classesTab = document.getElementsByClassName("nav_list__li--classes")[0];

    scheduleTab.classList.add("nav_list__li--active");
</script>

@{
    var db = new AssignmentManagerDbContext();
    var className = db.Classes.FirstOrDefault(x => x.Id == Model.ClassId).Name;
}

<h1 class="main_title">@Model.Name</h1>
<span class="subtitle">@className</span>
<span class="subtitle">Due @Model.DueDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</span>
<div class="divider"></div>
<p class="description">
    @Model.Description
    @{
        if (@Model.Description == null)
        {
            <span class="no_description">No Description</span>
        }
    }
</p>



@{
    if (Model.IsCompleted)
    {
        // On Click IsCompleted = false;
        <a asp-action="Uncomplete" asp-route-id="@Model.Id">
            <div class="complete_assignment">
                <span>UNCOMPLETE</span>
            </div>
        </a>
    }
    else
    {
        <a asp-action="Complete" asp-route-id="@Model.Id">
            <div class="complete_assignment">
                <span>COMPLETE</span>
            </div>
        </a>
    }
}

<a asp-action="Edit" asp-route-id="@Model.Id">
    <div class="edit_assignment">
        <img src="/content/edit.svg" />
    </div>
</a>